<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trova l'Impostore</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <!-- Musica di sottofondo -->
    <audio id="bg-music" loop>
        <source src="{{ url_for('static', filename='music.mp3') }}" type="audio/mp3">
    </audio>

    <div id="container">
        <img id="logo" src="{{ url_for('static', filename='logo.png') }}" alt="Trova l'Impostore">

        <!-- Creazione della stanza -->
        <div id="settings-container">
            <button id="settings-button" onclick="mostraPopupCategorie()">
                <i class="fa-solid fa-gear"></i>
            </button>
            <button id="crea-stanza-btn" onclick="creaStanza()">Crea Stanza</button>
            <span id="stanza-codice" class="codice-box" style="display: none;">Codice: <span id="codice-text"></span></span>
        </div>


        <!-- Unirsi a una stanza -->
        <div id="unisciti">
            <input type="text" id="codice" placeholder="Codice Stanza">
            <input type="text" id="nome" placeholder="Il tuo Nome">
            <button onclick="unisciti()">Unisciti</button>
        </div>

        <!-- Informazioni sulla stanza -->
        <div id="gioco" style="display: none;">
            <div id="parola-container" style="display: none;">
                <h2 id="parola"></h2>
                <h3 id="categoria"></h3>
            </div>

            <hr>

            <h2>Giocatori nella stanza:</h2>
            <ul id="giocatori-lista"></ul>

        <div id="punteggio-container" style="display: none; position: relative;">
            <button id="dropdown-btn">Assegna Punti ▼</button>
            <div id="dropdown-menu" class="dropdown-content">
                <option value="impostore_fugge">Impostore è fuggito</option>
                <option value="impostore_indovina">Impostore catturato, ma ha indovinato</option>
                <option value="impostore_non_indovina">Impostore catturato e ha sbagliato</option>
            </div>
        </div><br>
        <button id="inizia-gioco" onclick="gestisciPartita()" style="display: none;">Inizia Partita</button>

        </div>
    </div>
</body>
</html>
